@media only screen and (max-width:453px) {
    .usericons {
        width: 90px;
        height: 90px;
        border: 1px solid black;
        padding: 10px;
        border-radius: 100px;

    }

    .username_section {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 20px;
    }

    .Username_profile_image {
        display: flex;
        flex-direction: column;
        line-height: 2px;
        align-items: center;
    }

    .iconsforProfilepage {
        font-size: 25px;

    }

    .Para_profile {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 15px;


    }

    .div_for_profilepagee {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        /* border: 1px solid rgba(0, 0, 0, 0.121); */
        padding: 5px;
        border-radius: 10px;
        padding-left: 10px;

    }

    .Full_Profile_pagee {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .CopyRightsActIcons {
        font-size: 20px;

    }

    .CopyRightName {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
    }

    .CopyrightsDivv {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        position: relative;
        left: 70px;
        bottom: -30px;
    }

    .Right_arrow_btn {

        position: absolute;
        right: 20px;
    }

    .Logoutfunction {
        color: rgba(255, 0, 0, 0.676);
        cursor: pointer;
    }

    .Login_icons {
        color: rgba(255, 0, 0, 0.676);
    }

    .emailusernamesection {
        font-size: 15px;
    }

    input[type="file"] {
        display: none;
    }

    .addimageforProfile {
        width: 30px;
        height: 30px;
        position: relative;
        top: 125px;
        left: 30px;
        z-index: 11;
    }
    .UserprofileImage{
        width: 90px;
        height: 90px;
        border: 1px solid rgba(0, 0, 0, 0.212);
        padding: 10px;
        border-radius: 100px;
    }


    .Logoutheadingsection{
        font-family: 'Inter';
        font-weight: 500;
        font-size: 20px;
        color: black;
    }
    .butonforlogoutbtn{
        width: 100px;
        height: 35px;
        font-family: "Inter";
        font-weight: 500;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .logoutbtn{
        color: white;
        background-color: rgb(210, 3, 3);
    }
    .cancelbtn{
        color: black;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.253);
    }
    .buttonSectionCancelorlogout{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .logoutbuttonsectionndiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.24);
        width: max-content;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        position: relative;
        top: 220px;
        left: 18px;
    }
    .logoutbtninprofile{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.477);
        z-index: 100;
    }
}