.PleaseLoginImage{
    width: 230px;
    height: 230px;
}
.PleaseLoginHeading{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
}
.Login_btn_redirect_section{
    color: white;
    background-color: rgb(39, 39, 234);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
}
.LoginDirect_whole_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}